[Desktop Entry]
Type=Application
Version =1.0
Name=VideoCutter
Name[zh_CN]=VideoCutter
Comment=A simple video cutter
Exec=/root/project/qtMultiMedia/build/Desktop_Qt_6_7_1-Release/appmultiMedia
Icon=com.ozmartians.VidCutter
Terminal=false
Categories=Qt;KDE;Video;AudioVideo;AudioVideoEditing;
